
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Stopwatch</h2>

  <div class="block">
    <input type="button" disabled="true" value="{{h}}" name="" id="hour">
    <input type="button" disabled="true" value="{{m}}" name="" id="minutes">
    <input type="button" disabled="true" value="{{s}}" name="" id="seconds">
    <input type="button" disabled="true" value="{{ms}}" name="" id="miliseconds">
  </div>

  <button  id="start" class="{{class}}" value="false" {{action "start"}}>{{start}}</button>


</div>






{{outlet}}