<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Stopwatch</h2>
  <div class="block">
    {{input type="button" disabled="true" value=h}}
    {{input type="button" disabled="true" value=m}}
    {{input type="button" disabled="true" value=s}}
    {{input type="button" disabled="true" value=ms}}
  </div>
  {{input type="button" class=class click=(action "start") value=start}}
</div>
{{outlet}}